@charset "utf-8";
@font-face {
	font-family: "Digital";
	src: url("../digital.ttf");
}
body {
	text-align: center;
	font-family: Segoe, "Segoe UI";
	margin: 0px;
	background: #152931;
	user-select: none;
}
button {
	text-shadow: 1px 1px #000;
	cursor: pointer;
	font-family: Segoe, "Segoe UI";
	border: none;
	background-image: -webkit-linear-gradient(top, #c2c8cc, #5b5c5d);
	border-radius: 4px;
	width: 80%;
	margin-bottom: 10px;
	color: #fff;
	box-shadow: 0px 1px 5px #666666;
	font-weight: bold;
	font-size: 14px;
	line-height: 40px;
}
body img {
	margin-top: 5px;
}
button:hover {
	background-image: -webkit-linear-gradient(top, #9b9fa2, #2a2d2f);
}
button img {
	float: right;
	padding-top: 6px;
}
hr {
	border: none;
	margin-top: 15px;
}
.clima {
	color: #44535A;
	font-size: 45px;
	font-weight: 400;
	font-family: "Digital";
	cursor: pointer;
}
small {
	font-size: 60%;
}
